.bg-image { 
  background: url(images/shutterstock_295589810.jpg) no-repeat center; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  #opacity: 0.8;
  #filter: alpha(opacity=40); /* For IE8 and earlier */
}