##.bg-image { 
  background: url(images/shutterstock_295589810.jpg) no-repeat center; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  #opacity: 0.8;
  #filter: alpha(opacity=40); /* For IE8 and earlier */
}

.opening-text {
	width: 50%;
	position: relative;
/*	margin:90px 25px auto;
*/	
	margin-top: 10%;
	left: 20%;
	
	font-size: 95%;
	color: #23271C;
	#opacity: 1.5;
  #D7D7D3
	#AFC18A
	#C2D699
}

h1 {
	font-family: 'PT Sans Narrow', sans-serif;
	position: relative;
	top: 30%;
	color: #D7D7D3;
  opacity: 1.5;
	/*margin:50px 30px auto;*/
}

p {
	font-family: 'PT Sans Narrow', sans-serif;
	font-size: 120%
	color: #CCFFCC;
	margin:20px 30px auto;

}
.app-analysis{
	font-family: 'PT Sans Narrow', sans-serif;
	width: 50%;
	font-size: 100%;
	color: #7A7A6B;
	margin:50px 30px auto;
}
footer {
  text-align: right;
  position: fixed;
  bottom: 0;
  right: 0;
  height: 30px;
  font-family: 'PT Sans Narrow', sans-serif;
  font-weight: bold
  color: #333300;
  width: 80%;
  }
