
{% extends 'base.html' %}
	{% block title %}Here's the Rundown{% endblock %}
	{% block content %}
<div class="row">
	<div class="col-xs-4 nopadding">
		<div class="nutritionLabel span4" , id="analysis-results">
	    <table class="table" id="details1">
	        <thead>
	            <tr>
	                <th class="recipe-details" id="recipe-title">Title Here</th>
	            </tr>
	        </thead>

	        <tbody>
	        	<tr>
	            	<td @link><a href="{{ recipe }}"> {{ recipe }}</a></td>
	            </tr>
	            <tr>
	                <td class-"recipe-details" id="recipe-description">
	                <em>Pellentesque consequat porttitor nunc, in consectetur justo ullamcorper sed.  Maecenas egestas erat ac ante pulvinar lobortis.
					</em>
	                </td>
	            </tr>
	        </tbody>
	    </table>

		<table class="table" id="recipe-ingredients">
		        <thead>
		            <tr>
		                <th>Ingredients</th>
		            </tr>
		        </thead>

		        <tbody>
		            <tr>
		                <td id="ingred1">Sed ac metus eu leo vehicula mattis.</td>
		            </tr>

		            <tr>
		                <td>Sed ac metus eu leo vehicula mattis.</td>
		            </tr>

		            <tr>
		                <td>Sed ac metus eu leo vehicula mattis.</td>
		            </tr>
		            <tr>
		                <td>Sed ac metus eu leo vehicula mattis.</td>
		            </tr>
		            <tr>
		                <td>Sed ac metus eu leo vehicula mattis.</td>
		            </tr>
		            <tr>
		                <td>Sed ac metus eu leo vehicula mattis.</td>
		            </tr>
		            <tr>
		                <td>Sed ac metus eu leo vehicula mattis.</td>
		            </tr>
		            <tr>
		                <td>Sed ac metus eu leo vehicula mattis.</td>
		            </tr>
		            <tr>
		                <td>Sed ac metus eu leo vehicula mattis.</td>
		            </tr>
		            <tr>
		                <td>Sed ac metus eu leo vehicula mattis.</td>
		            </tr>

		        </tbody>
		    </table>
		<table class="table">
		        <thead>
		            <tr>
		                <th>Directions</th>
		            </tr>
		        </thead>

		        <tbody>
		            <tr>
		                <td class="recipe-details" id="recipe-directions">
		                Maecenas egestas erat ac ante pulvinar lobortis. Sed ac metus eu leo vehicula mattis. Vivamus tempus mi dolor, a malesuada dui pellentesque et. Pellentesque et libero tempor.  Pellentesque consequat porttitor nunc, in consectetur justo ullamcorper sed. Maecenas egestas erat ac ante pulvinar lobortis.  Vivamus tempus mi dolor, a malesuada dui pellentesque et. 
		                </td>
		            </tr>
		            <tr>
		            	<td class="recipe-details" id="recipe-servings">
		            	<b>Serves </b>
		            	</td>
		            </tr>
		        </tbody>
		    </table>
		</div>
	</div>
	
	<div class="col-xs-4 nopadding">
		<div class="nutritionLabel span4" id="analysis1">Pellentesque consequat porttitor nunc, in consectetur justo ullamcorper sed. Maecenas egestas erat ac ante pulvinar lobortis. Sed ac metus eu leo vehicula mattis. Vivamus tempus mi dolor, a malesuada dui pellentesque et. Pellentesque et libero tempor,
		</div>
	</div>
	<div class="col-xs-4 nopadding">
		<div class="nutritionLabel span4">Pellentesque consequat porttitor nunc, in consectetur justo ullamcorper sed. Maecenas egestas erat ac ante pulvinar lobortis. Sed ac metus eu leo vehicula mattis. Vivamus tempus mi dolor, a malesuada dui pellentesque et. Pellentesque et libero tempor,
		</div>
	</div>
</div>
	<script>
	var recipeDetails = {{ recipe_details|safe }}


	document.getElementById("recipe-title").innerHTML = recipeDetails.title;
	document.getElementById("recipe-description").innerHTML = '<em>' + recipeDetails.description + '</em>';
	document.getElementById("recipe-directions").innerHTML = recipeDetails.directions;
	document.getElementById("recipe-servings").innerHTML = '<b>' + recipeDetails.servings + '</b>';
	//document.getElementById("ingred1").innerHTML = recipeDetails.ingredients[0].source_line;
   	
   var table = '<thead><tr><th>Ingredients</th></tr></thead><tbody>'

    recipeDetails.ingredients.forEach(function(Ingredient) {
        table += '<tr><td>' + Ingredient.source_line + '</td></tr>';
    });

    document.getElementById("recipe-ingredients").innerHTML = table;

    var ingredList = ""

    recipeDetails.ingredients.forEach(function(Ingredient) {
        ingredList += Ingredient.search_term + ',';
    });

    $("#analysis1").nutritionLabel({
    		'showServingUnitQuantity' : false,
			'itemName' : recipeDetails.title,
			'ingredientList' : ingredList,
			'showPolyFat' : false,
			'showMonoFat' : false,
			'valueCalories' : 450,
			'valueFatCalories' : 430,
			'valueTotalFat' : 48,
			'valueSatFat' : 6,
			'valueTransFat' : 0,
			'valueCholesterol' : 30,
			'valueSodium' : 780,
			'valuePotassium' : 120,
			'valueMagnesium' : 340,
			'valuePhosphorus' : 35,
			'valueTotalCarb' : 3,
			'valueFibers' : 0,
			'valueSugars' : 3,
			'valueProteins' : 3,
			'valueVitaminA' : 0,
			'valueVitaminC' : 0,
			'valueCalcium' : 0,
			'valueIron' : 0
    	});

	</script>
	{% endblock %}