
{% extends 'base.html' %}
	{% block title %}Here's the Rundown{% endblock %}
	{% block content %}
<div class="row">
	<div class="col-xs-4 nopadding">
		<div class="nutritionLabel span4" , id="analysis-results">
			<em>{{ recipe }}</em>
	    <table class="table" id="details1">
	        <thead>
	            <tr>
	                <th class="recipe-details" id="recipe-title">Title Here</th>
	            </tr>
	        </thead>

	        <tbody>
	            <tr>
	                <td class-"recipe-details" id="recipe-description">
	                <em>Pellentesque consequat porttitor nunc, in consectetur justo ullamcorper sed.  Maecenas egestas erat ac ante pulvinar lobortis.</em></td>
	            </tr>
	        </tbody>
	    </table>

		<table class="table">
		        <thead>
		            <tr>
		                <th>Ingredients</th>
		            </tr>
		        </thead>

		        <tbody>
		            <tr>
		                <td>Sed ac metus eu leo vehicula mattis.</td>
		            </tr>

		            <tr>
		                <td>Sed ac metus eu leo vehicula mattis.</td>
		            </tr>

		            <tr>
		                <td>Sed ac metus eu leo vehicula mattis.</td>
		            </tr>
		            <tr>
		                <td>Sed ac metus eu leo vehicula mattis.</td>
		            </tr>
		            <tr>
		                <td>Sed ac metus eu leo vehicula mattis.</td>
		            </tr>
		            <tr>
		                <td>Sed ac metus eu leo vehicula mattis.</td>
		            </tr>
		            <tr>
		                <td>Sed ac metus eu leo vehicula mattis.</td>
		            </tr>
		            <tr>
		                <td>Sed ac metus eu leo vehicula mattis.</td>
		            </tr>
		            <tr>
		                <td>Sed ac metus eu leo vehicula mattis.</td>
		            </tr>
		            <tr>
		                <td>Sed ac metus eu leo vehicula mattis.</td>
		            </tr>

		        </tbody>
		    </table>
		<table class="table">
		        <thead>
		            <tr>
		                <th>Directions</th>
		            </tr>
		        </thead>

		        <tbody>
		            <tr>
		                <td>
		                Maecenas egestas erat ac ante pulvinar lobortis. Sed ac metus eu leo vehicula mattis. Vivamus tempus mi dolor, a malesuada dui pellentesque et. Pellentesque et libero tempor.  Pellentesque consequat porttitor nunc, in consectetur justo ullamcorper sed. Maecenas egestas erat ac ante pulvinar lobortis.  Vivamus tempus mi dolor, a malesuada dui pellentesque et. 
		                </td>
		            </tr>
		            <tr>
		            	<td>
		            	<b>Serves </b>4-6
		            	</td>
		            </tr>
		        </tbody>
		    </table>
		</div>
	</div>
	
	<div class="col-xs-4 nopadding">
		<div class="nutritionLabel span4">Pellentesque consequat porttitor nunc, in consectetur justo ullamcorper sed. Maecenas egestas erat ac ante pulvinar lobortis. Sed ac metus eu leo vehicula mattis. Vivamus tempus mi dolor, a malesuada dui pellentesque et. Pellentesque et libero tempor,
		</div>
	</div>
	<div class="col-xs-4 nopadding">
		<div class="nutritionLabel span4">Pellentesque consequat porttitor nunc, in consectetur justo ullamcorper sed. Maecenas egestas erat ac ante pulvinar lobortis. Sed ac metus eu leo vehicula mattis. Vivamus tempus mi dolor, a malesuada dui pellentesque et. Pellentesque et libero tempor,
		</div>
	</div>
</div>
	<script>
	var recipeDetails = {{ recipe_details|safe }}
	document.getElementById("recipe-title").innerHTML = recipeDetails.title;
	document.getElementById("recipe-description").innerHTML = '<em>' + recipeDetails.description + '</em>';
	</script>
	{% endblock %}