{% extends 'base.html' %}
	{% block title %}Trust Your NANA: She has good advice!{% endblock %}
	<div class="row-fluid">
		<div class="col-xs-4"></div>	
		<div class="col-xs-4">
			{% block content %}
			<div class="opening-text" id="NANA-introduction" >
				<h1>So why another nutrition app??</h1>
				<p> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed in ante nisl. Aliquam congue dapibus ipsum vel congue. In finibus est luctus magna gravida, in imperdiet arcu malesuada. Quisque vitae commodo dolor. Nulla viverra dolor non lorem efficitur, ut porttitor mi luctus. Nulla lectus augue, malesuada fermentum dictum et, congue vitae tortor.</p>

				<p>Mauris ligula enim, sollicitudin eget leo sit amet, tincidunt tristique orci. Aenean vitae mauris eu ipsum tincidunt ultrices. Nullam non nunc nec quam blandit imperdiet et id sapien. Integer consequat turpis lectus, eget vestibulum elit vehicula sit amet. Nulla facilisi. Pellentesque elit magna, lobortis in risus nec, tincidunt pulvinar lorem. Sed posuere risus vel condimentum placerat.</p>

				<p>Vivamus eleifend fermentum turpis in placerat. In eleifend, risus quis maximus sodales, diam lacus tempor libero, sit amet commodo massa nulla a nunc. Etiam pretium efficitur vehicula. Praesent facilisis sapien cursus, consequat nisl sit amet, gravida velit. Maecenas vehicula facilisis varius. Interdum et malesuada fames ac ante ipsum primis in faucibus. Morbi commodo tortor sit amet interdum hendrerit. Etiam pellentesque pulvinar sem, nec posuere metus mollis quis. In sagittis, mi ac gravida gravida, massa dui ornare sem, ut dapibus nunc ligula in libero. Nunc nec turpis felis.</p>
				<br>
			</div>
			<div id="NANA-url">	
				<h1 id="app-title"><span>Pick a URL. NANA will do the legwork for you!</h1>
				<br>
				<form action="/analysis-url" id="recipe-url-selection" method='GET'>
			        <select name="recipe-urls" id="recipe-to-analyze">
	                    
	                    {% for recipe in recipes %}
	                        <option value="{{ recipe }}">{{ recipe }}</option>
	                    {% endfor %}
			        </select>
			        <br>
			        <br>
					<div class="app-button"><input type="submit" value="Anayalize Please!"></div>
					<br>
				</form>
			</div>
		</div>
		<div class="col-xs-4"></div>
	</div>
	{% endblock %}
