{% extends 'base.html' %}
	{% block title %}Trust Your NANA: She has good advice!{% endblock %}
	<div class="row-fluid">
		<div class="col-xs-4"></div>	
		<div class="col-xs-4">
			{% block content %}
			<div class="row">
			<div class="col-xs-2">
			</div>
			</div>
			<div class="col-xs-8" style="margin-left: 18%">
				<!-- <div class="nutritionLabel span4" , id="analysis-results"> -->
			    <table class="table" id="details1">
			<div class="opening-text" id="NANA-introduction" >
				<h1>Why another nutrition app?</h1>
				<h3>You've decided to track what you eat....but looking up every.  single. ingredient.  while you cook is a drag.

				Let NANA help.  <br><br>Select a recipe URL from a supported website, press analyze, and get a nutritional estimate back. Simple. 
				<br><br></h3>

				<br>
				<h1>Paste Your Recipe URL Below:</h1>
				<br>
				<form action="/analysis-url" id="recipe-url-selection" method='GET'>
			        <div class="input-group">
					 <span class="input-group-addon" id="basic-addon1">Recipe</span>
					 <input type="text" class="form-control" placeholder="www.ExampleRecipe.com" aria-describedby="basic-addon1" name="recipe-url">
					</div>

			        <!-- 
			        uncomment the section below to use the test recipes as a drop-down:
			        <select name="recipe-urls" id="recipe-to-analyze">
	                    
	                    {% for recipe in recipes %}
	                        <option value="{{ recipe }}">{{ recipe }}</option>
	                    {% endfor %}
			        </select> 
			        -->
			        
			        <br>
			        <br>
					<div class="app-button"><input type="submit" value="Analyze!"></div>	
			</div>
			
					<br>
				</form>
			</div>
		</div>
		<div class="col-xs-4"></div>
	</div>
	{% endblock %}
