{% extends 'base.html' %}
	{% block title %}Trust Your NANA: She has good advice!{% endblock %}
	{% block content %}

	<h1>So why another nutrition app??</h1>
	<div class="opening-text" id="careers-description" >
		<p> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed in ante nisl. Aliquam congue dapibus ipsum vel congue. In finibus est luctus magna gravida, in imperdiet arcu malesuada. Quisque vitae commodo dolor. Nulla viverra dolor non lorem efficitur, ut porttitor mi luctus. Suspendisse potenti. Mauris egestas diam et felis finibus consectetur. Nulla lectus augue, malesuada fermentum dictum et, congue vitae tortor.</p>

		<p>Mauris ligula enim, sollicitudin eget leo sit amet, tincidunt tristique orci. Aenean vitae mauris eu ipsum tincidunt ultrices. Nullam non nunc nec quam blandit imperdiet et id sapien. Integer consequat turpis lectus, eget vestibulum elit vehicula sit amet. Nulla facilisi. Pellentesque elit magna, lobortis in risus nec, tincidunt pulvinar lorem. Sed posuere risus vel condimentum placerat. In quis nibh lorem. Mauris blandit lorem at risus venenatis, eu congue ex lacinia. Quisque nunc sapien, blandit a lorem in, tristique pharetra ex.</p>

		<p>Vivamus eleifend fermentum turpis in placerat. In eleifend, risus quis maximus sodales, diam lacus tempor libero, sit amet commodo massa nulla a nunc. Etiam pretium efficitur vehicula. Interdum et malesuada fames ac ante ipsum primis in faucibus. Quisque id tellus quis arcu porta dignissim a quis lacus. Praesent facilisis sapien cursus, consequat nisl sit amet, gravida velit. Maecenas vehicula facilisis varius. Interdum et malesuada fames ac ante ipsum primis in faucibus. Morbi commodo tortor sit amet interdum hendrerit. Etiam pellentesque pulvinar sem, nec posuere metus mollis quis. In sagittis, mi ac gravida gravida, massa dui ornare sem, ut dapibus nunc ligula in libero. Nunc nec turpis felis.</p>
	</div>
	<br><br>
	<div id="app-form-outline" class="app-form-style">

		<h2 id="app-title"><span>Pick a Recipe URL Below</span><br>NANA will do the legwork, and let you know what you're eating:</h2>
		<br>
		<form action="/analysis-url" id="new-applicant-form" method='POST'>
				<div class="inner-wrap">
				        <select name="recipe-urls" id="recipe-to-analyze">
		                    
		                    {% for recipe in recipes %}
		                        <option value="{{ recipe }}">{{ recipe }}</option>
		                    {% endfor %}

				        </select><br>
						<div class="app-button"><input type="submit" value="Anayalize Please!">
						<br>
						<br>
						<br>
						<br>
						<br>
						</div>
				</div>
		</form>
	</div>
	<script>
	</script>
	{% endblock %}
